.backg-color{
    background-color: rgb(127, 32, 32);
    color: white;
    
}

.test {
    color: rgb(35, 35, 169);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}